[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultNonParam"]
	path = MultNonParam
	url = https://github.com/cran/MultNonParam
[submodule "PHInfiniteEstimates"]
	path = PHInfiniteEstimates
	url = https://github.com/cran/PHInfiniteEstimates
